html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
button:focus {
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/* start global properties  */
*{
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif !important;
    overflow-x: hidden;
    position: relative;
    
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.3;
    background-color: #000000;
    z-index: 2;
}

/* end global properties  */

/*start landing page*/
.header {
    background-color:#f0f0ed;
    width: 100%;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:20px;
    padding-right:20px;
}
.header .search {
    width: 100%;
    height: auto;
    background-color:#fff;
    border-radius: 5px;
    margin-bottom:20px;
    padding:20px;
    -webkit-box-shadow: 5px 5px 5px 0px #eee;
    -moz-box-shadow: 5px 5px 5px 0px #eee;
    box-shadow: 5px 5px 5px 0px #eee;
}
.header .search .content {
    width:100%;
    height: 100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .search .content form input {
  width:60%;
  outline: none;
  background-color:#eee;
  border:none;
  color:#ccc;
}
.header .search .content form .search-btn{
    background-color:#2f9bc1;
    color:#fff;
    width:35%;
}
/* start slider settings */
.header .slider {
    width:100%;
    height: 400px;
    
}
.header  .slider .carousel-inner .img-container {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 400px;
}
.header  .slider .carousel-inner .img-container img {
    width:100%;
    height: 100%;
}
.header  .slider .carousel-inner .carousel-caption {
    background-color:#333;
    color:#fff;
    border-radius: 10px;
    width:350px;
    right:8%;
    left:8%;
    margin-bottom:10px;
    z-index: 1000;
}
.header  .slider .carousel-indicators{
    z-index: 1000;
}
.header  .slider .carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%; 
}
/* start form settings */
.header .sign-in {
    background-color:#fff;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px #eee;
    -moz-box-shadow: 5px 5px 5px 0px #eee;
    box-shadow: 5px 5px 5px 0px #eee;
    margin-bottom:20px;
}
.header  .form-heading .heading{
  margin-top:15px;
  margin-bottom:15px;
  border-bottom: 1px solid #eee;
}
.header  .form-heading .heading h5 {
    padding:10px;
    font-weight: bold;
    font-size:18px;
}
.header  .form-content {
    padding:30px;
}
.header .form-content input[type="email"],
.header .form-content input[type="password"] {
    outline: none;
    background-color:#f7f7f7;
    border:none;
    height: 50px;
}
.header  .form-content .btn-sign {
    background-color:#2f9bc1;
     width:100%;
     height: 50px;
     color:#fff;
     font-weight: bold;

}
.header .sign-in .password {
    padding-right:20px;
    padding-bottom:20px;
    text-align:right;

}
.header .sign-in .password a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
 /* start statistics cloumn  */
 .header .statistics .statistics-content{
     padding:20px;
 }
 .header .statistics .item {
     color:#fff;
     background-color:#c12f6c;
     padding: 10px;
     margin: 10px;
     border-radius: 5px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     
 }
 .header .statistics .item .info {
     font-weight: bold;
     text-align: left;
 }
 .header .statistics .item .number {
    font-weight: bold;
    font-size: 20px;
}
 /* end statistics column  */
 /* start members column  */
.header .members {
    background-color:#fff;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px #eee;
    -moz-box-shadow: 5px 5px 5px 0px #eee;
    box-shadow: 5px 5px 5px 0px #eee;
    margin-bottom:20px;

}
.header .members .heading-container{
    border-bottom:1px solid #eee;
    padding:15px;
}
.header .members .heading-container h5 {
    font-size:16px;
    font-weight: bold;
}
.header .members .tags{
    padding:15px;
}
.header .members .tags a {
    width:100px;
    background-color:#679710;
    color:#fff;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
    font-size:12px;
    text-decoration: none;
}
.header .members .img-container,.header .members .info {
    padding-left: 14px;
}
.header .members .info .name{
    font-weight: bold;
    font-size:14px;

}
.header .members .info .friends-no{
    background-color:#e4ecf1;
    padding:5px;
    border-radius:5px;
    font-size:12px;
    font-weight: bold;
    color:#8697b3;
    max-width: auto;

}
.header .members .member{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
.header .members .img-container img {
    width:80px;
    height: 80px;
    border-radius:5px;
}
/* start section active memebers  */
.header .members .img-box{
    width:100%;
    height: 100%;
    padding-top:10px;
    margin:20px;
    padding-bottom:10px;
}
.header .members .img-box img {
    width:70px;
    height: 70px;
    border-radius: 5px;
}
/* end section active members  */

/* start calender properties  */
@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

.calender {
  background-color:#fff;
  width:100%;
  height: 100%;
  padding-bottom:70px;
}

.jzdbox1 {
    width: 75%;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

.jzdcal {
  padding:0 10px 10px 10px; 
  box-sizing:border-box!important; 
}

.jzdcalt {
  font:18px 'Roboto'; 
  font-weight:700; 
  color:#f7f3eb; 
  display:block; 
  margin:18px 0 0 0; 
  text-transform:uppercase; 
  text-align:center; 
  letter-spacing:1px;
}

.jzdcal span {
  font:16px 'Roboto'; 
  font-weight:400; 
  color:#f7f3eb; 
  text-align:center; 
  width:42px; 
  height:42px; 
  display:inline-block; 
  float:left; 
  overflow:hidden; 
  line-height:40px;
}

.jzdcal .jzdb:before {
  opacity:0.3; 
  content:'o';
}

.circle {
  border:1px solid #f7f3eb; 
  box-sizing:border-box!important; 
  border-radius:200px!important;
}

span[data-title]:hover:after, 
div[data-title]:hover:after {
  font:11px 'Roboto'; 
  font-weight:400; 
  content:attr(data-title); 
  position:absolute; 
  margin:0 0 100px; 
  background:#282423; 
  border:1px solid #f7f3eb; 
  color:#f7f3eb; 
  padding:5px; 
  z-index:9999; 
  min-width:150px; 
  max-width:150px;
}
/* end calender properties  */
/*End landing page*/